# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.log

# Virtual environments
.venv/
env/
venv/
ENV/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Project-specific
config.json
schedules.json
